<div class="flex flex-wrap" style="height: 80vh;">
    <p-fieldset legend="Crear Worker" class="col">
        <form [formGroup]="workers">
            <div class="p-grid">
                <div class="col-m3 mb-4">
                    <span class="p-float-label">
                        <input pInputText formControlName="name" id="name" [style]="{'width': '70%'}">
                        <label for="name">Nombre</label>
                    </span>
                </div>
                <div class="col-m3 mb-4">
                    <span class="p-float-label">
                        <p-inputNumber formControlName="age" id="age" [style]="{'width': '70%'}" [min]="18"></p-inputNumber>
                        <label for="age">Edad</label>
                    </span>
                </div>
                <div class="col-m3 mb-4">
                    <span class="p-float-label">
                        <p-multiSelect id="habilidades"  [style]="{'width': '20%'}" formControlName="selectedSkils" [options]="skills" optionLabel="description"/>
                        <label for="habilidades">Habilidades</label>
                    </span>
                </div>
                <div class="flex justify-content-center ">
                    <button pButton pRipple label="Guardar" icon="pi pi-check" iconPos="right"
                        class="p-button-info flex align-items-center justify-content-center  h-4rem  font-bold border-round m-2 px-5"
                        (click)="create()">
                    </button>
                </div>
            </div>
        </form>
    </p-fieldset>
</div>
<p-toast></p-toast>